<?xml version="1.0"?>
<!--
/**
 * Netweb
 * Created by:Mahdi Khani
 * khaniii.mahdi@gmail.com
 * 9/4/23
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="netwebusers" frontName="netwebusers">
            <module name="Netweb_User" before="Magento_Adminhtml" />
        </route>
    </router>
</config>
